.whats-new__main-content {
	flex: 1;
	margin-top: 108px;
}

.main-content {
	--blue: #187daf;
	--green: #168b8f;
	--website-security-inspector-icon-fill: var(--green);
	--ai-conversation-security-icon-fill: var(--green);

	display: flex;
	flex-direction: column;
	gap: 45px;
	margin-bottom: 55px;
}

.main-content__update-info {
	display: flex;
	gap: 80px;
}

.text-content__header {
	display: flex;
	flex-direction: column;
}

.text-content-header__icon {
	width: 25.8px;
	height: 28.5px;
}

.text-content-header__title {
	font-weight: 600;
	font-size: 22px;
	margin: 4.5px 0 20px 0;
}

.text-content__description {
	font-weight: 400;
	margin-bottom: 16.5px;
}

.text-content__learn-more-link {
	text-decoration: none;
	color: var(--blue);
	font-weight: 600;
	width: max-content;
	display: flex;
	gap: 8px;
	align-items: center;
}

.learn-more-link__icon {
	width: 11px;
	height: 11px;
	fill: none;
}

.update-info__preview-image {
	max-width: 475px;
	max-height: 312px;
	margin-left: auto;
	margin-right: auto;
}

html[dir="rtl"] .learn-more-link__icon {
	transform: scaleX(-1);
}
@media screen and (max-width: 1979px) {
	.whats-new__main-content {
		margin-top: 64px;
	}
}

@media screen and (max-width: 1279px) {
	.whats-new__main-content {
		margin-top: 58.5px;
	}

	.main-content__update-info {
		flex-direction: column;
		gap: 40px;
	}

	.update-info__text-content {
		margin-left: 34.75px;
		margin-right: 34.75px;
	}
}

@media screen and (max-width: 767px) {
	.whats-new__main-content {
		margin-top: 37.5px;
	}

	.main-content__update-info {
		gap: 70px;
	}

	.update-info__preview-image {
		max-width: 475px;
		max-height: 312px;
		margin-left: auto;
		margin-right: auto;
	}

	.update-info__text-content {
		margin-left: 20.5px;
		margin-right: 20.5px;
	}
}

@media screen and (max-width: 505px) {
	.update-info__preview-image {
		max-width: calc(100vw - 40px);
	}
}
