[data-bps-llm-scan-detection] {
    outline-offset: 3px !important;
    border-radius: 2px;
    margin: 5px;
}

[data-bps-llm-scan-detection="bad"] {
    outline: 2px solid #de342b !important;
}

[data-bps-llm-scan-detection="warn"] {
    outline: 2px solid #fbbf01 !important;
}

[data-bps-llm-scan-detection][data-bps-llm-scan-icon-side="right"] {
    border-top-right-radius: 0;
}

[data-bps-llm-scan-detection][data-bps-llm-scan-icon-side="left"] {
    border-top-left-radius: 0;
}

[data-bps-llm-scan-detection][data-bps-llm-scan-icon-side="right"][data-bps-llm-scan-icon-height-match] {
    border-bottom-right-radius: 0;
}

[data-bps-llm-scan-detection][data-bps-llm-scan-icon-side="left"][data-bps-llm-scan-icon-height-match] {
    border-bottom-left-radius: 0;
}

.detection-mark {
    display: block !important;
    width: 0px;
    height: 0px;
}